<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Box Model</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <h1>Ini header</h1>
    </header>
    <!-- navbar -->
    <div class="navbar">
      <a href="">Link 1</a>
      <a href="">Link 1</a>
      <a href="">Link 1</a>
    </div>
    <!-- column -->
    <div class="row">
      <div class="column side">
        <h2>Side</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
          deserunt blanditiis, quasi eligendi nam error. Rerum, ullam libero.
          Fuga, consequuntur! Labore illo saepe quam. Minima error consectetur
          fugit natus autem!
        </p>
      </div>
      <div class="column Middle">
        <h2>Main content</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
          deserunt blanditiis, quasi eligendi nam error. Rerum, ullam libero.
          Fuga, consequuntur! Labore illo saepe quam. Minima error consectetur
          fugit natus autem!
        </p>
      </div>
      <div class="column side">
        <h2>side</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
          deserunt blanditiis, quasi eligendi nam error. Rerum, ullam libero.
          Fuga, consequuntur! Labore illo saepe quam. Minima error consectetur
          fugit natus autem!
        </p>
      </div>
    </div>
    <!-- footer -->
    <div class="footer">
      <p>Hak Cipta &copy; 2023 Adka fawaid</p>
    </div>
    <h1>Float Left</h1>
    <p>
      <img src="/Latihan/img/valo.png" alt="valo.png" />Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Placeat sit provident ab voluptatum
      expedita quisquam dolorum laborum laboriosam, dolorem molestias eum iure
      dolore ducimus rem accusantium animi libero cumque quod. Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Rerum delectus recusandae
      porro, alias hic ea minima quos nisi inventore consectetur maiores. Iusto,
      rerum aperiam aspernatur hic culpa nam illo vel? Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Similique officia cupiditate, sit
      voluptatem voluptatum officiis alias natus aspernatur. Ex distinctio,
      dignissimos perspiciatis nobis suscipit aperiam quaerat ut! Vel, modi
      error? expedita quisquam dolorum laborum laboriosam, dolorem molestias eum
      iure dolore ducimus rem accusantium animi libero cumque quod. Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Rerum delectus recusandae
      porro, alias hic ea minima quos nisi inventore consectetur maiores. Iusto,
      rerum aperiam aspernatur hic culpa nam illo vel? Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Similique officia cupiditate, sit
      voluptatem voluptatum officiis alias natus aspernatur. Ex distinctio,
      dignissimos perspiciatis nobis suscipit aperiam quaerat ut! Vel, modi
      error? expedita quisquam dolorum laborum laboriosam, dolorem molestias eum
      iure dolore ducimus rem accusantium animi libero cumque quod. Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Rerum delectus recusandae
      porro, alias hic ea minima quos nisi inventore consectetur maiores. Iusto,
      rerum aperiam aspernatur hic culpa nam illo vel? Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Similique officia cupiditate, sit
      voluptatem voluptatum officiis alias natus aspernatur. Ex distinctio,
      dignissimos perspiciatis nobis suscipit aperiam quaerat ut! Vel, modi
      error?
    </p>
    <h1>Float Right</h1>
    <p>
      <img src="/Latihan/img/valo.png" alt="valo.png" class="right" />Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Placeat sit provident
      ab voluptatum expedita quisquam dolorum laborum laboriosam, dolorem
      molestias eum iure dolore ducimus rem accusantium animi libero cumque
      quod. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum
      delectus recusandae porro, alias hic ea minima quos nisi inventore
      consectetur maiores. Iusto, rerum aperiam aspernatur hic culpa nam illo
      vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
      officia cupiditate, sit voluptatem voluptatum officiis alias natus
      aspernatur. Ex distinctio, dignissimos perspiciatis nobis suscipit aperiam
      quaerat ut! Vel, modi error? expedita quisquam dolorum laborum laboriosam,
      dolorem molestias eum iure dolore ducimus rem accusantium animi libero
      cumque quod. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Rerum delectus recusandae porro, alias hic ea minima quos nisi inventore
      consectetur maiores. Iusto, rerum aperiam aspernatur hic culpa nam illo
      vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
      officia cupiditate, sit voluptatem voluptatum officiis alias natus
      aspernatur. Ex distinctio, dignissimos perspiciatis nobis suscipit aperiam
      quaerat ut! Vel, modi error? expedita quisquam dolorum laborum laboriosam,
      dolorem molestias eum iure dolore ducimus rem accusantium animi libero
      cumque quod. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Rerum delectus recusandae porro, alias hic ea minima quos nisi inventore
      consectetur maiores. Iusto, rerum aperiam aspernatur hic culpa nam illo
      vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
      officia cupiditate, sit voluptatem voluptatum officiis alias natus
      aspernatur. Ex distinctio, dignissimos perspiciatis nobis suscipit aperiam
      quaerat ut! Vel, modi error?
    </p>
    <!-- positioning -->
    <div class="positioning">
    <div class="static">
      <p>ini positioning static</p>
    </div>
    <div class="relative">
      <p>ini positioning relative</p>
    </div>
    <div class="absolute">
      <p>ini positioning absolute</p>
    </div>
    <div class="fixed">
      <p>ini positioning fixed</p>
    </div>
    <div class="sticky">
      <p>ini positioning sticky</p>
    </div>
    </div>
    <div class="content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero commodi,
      vel nostrum assumenda cumque in corrupti! Sunt totam ducimus, voluptatum
      inventore possimus porro ipsa autem molestiae eaque saepe a voluptatibus?
      <h1>bg color</h1>
    </p>
  </div>
  <div class="bgimage">
    <h1>background Image</h1>
  </div>
  </body>
</html>
